.order-qty-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(10, 10, 10, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
    gap: 10px;
    z-index: 102;
}

.order-qty-content{
    background-color:  rgb(102, 108, 106);
    height: 130px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    color: whitesmoke;
}

.order-qty-button-group{
    width: 100%;
    display: flex;
    gap: 8px;
}

.order-qty{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.order-qty-form-input{
    height: 32px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}